
.section1{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 40px 0 40px 20px;
}

.item1{
    flex: 1;
    flex-direction: row;
    gap: 20px;
}

.title{
    font-weight: bolder;
    font-size: 67px;

}
.red{
    color:red;
}
.text{
    font-size: 30px;
}

.item2{
    flex: 1;
    position: relative;
}
.circle{
    border-radius: 1800px 0 0 1800px;
    background-color: #ffa700;
    width: 50%;
    height: 670px;
    transform: translate(100%, 0);
}

.pizza{
    top: 0px;
    right: 190px;
    position: absolute;
}
.onion{
    bottom: 120px;
    position: absolute;
}
.sPizza{
    bottom: 2px;
    right: 140px;
    position: absolute;
}

.section2{
    display: flex;
    align-items: center;
    gap: 100px;
    padding: 0 20px;
}
.image{
    flex: 1;
}
.text2{
    display: flex;
    flex-direction: column;
    gap: 25px;
    flex: 1;
}
.h3Text2{
    font-weight: 900;
}
.pText2{
    font-size: 20px;

}
.garlicDiv{
    flex: 1;
    position: relative;
}
.garlic{
    left: -60px;
    position: absolute;
}

.section3{
    padding: 100px 20px 50px 20px;
}

.h6Section3{
    color: red;
    font-weight: 900;
}

.h1Section3{
    font-weight: 900;
    margin-bottom: 50px;
}


.section4{
    background-color: #fff0ce;
    padding: 35px 20px 55px 20px;
    position: relative;
}
.sec4Img{
    position: absolute;
    top: 60px;
    right: 0;
}
.items{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.bold{
    font-weight: 600;
    padding: 18px 0;
}


.section5{
    padding: 40px 20px 0px 20px;
}
.cardsContainer{
    display: flex;
    justify-content: space-between;
    gap: 25px;
}
.cardContainer{
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 0 0.2px;
    padding: 30px;
    text-align: center;
    font-size: 18px;
}
.customerImg{
    border-radius: 50%;
}